{:paths ["src/clj" "resources" "target/classes"],
 :deps
 {org.clojure/clojure {:mvn/version "1.11.2"},
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"},
  org.clojure/core.match {:mvn/version "1.1.0"},
  org.clojure/test.check {:mvn/version "1.1.1"},
  criterium/criterium {:mvn/version "0.4.6"},
  quil/quil {:mvn/version "4.3.1563"},
  org.clojure/data.priority-map {:mvn/version "1.2.0"}},
 :aliases
 {:test/env {:extra-deps {vlaaad/reveal {:mvn/version "1.3.311"}}
             :extra-paths ["test" "dev" "classes"]
             :jvm-opts ["-Djdk.attach.allowAttachSelf"]}
  :test {:extra-paths ["test" "dev" "classes"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts   ["--main" "kaocha.runner"]
         :exec-fn kaocha.runner/exec-fn
         :exec-args {:randomize? false
                     :fail-fast? true}}
  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
