html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}


#root {
  height: 100%;
  width: 100%;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

h1 {
  font-size: 1.75rem;
}

main {
  padding: 10px;
}

.footer {
  text-align: center;
}

.images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 40vw;
  aspect-ratio: 1;
}
