html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}


#root {
  height: 100%;
  width: 100%;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.header {
  border-bottom: 3px double black;
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

main {
  padding: 10px;
}

.footer {
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 40vw;
  aspect-ratio: 1;
}

.image-img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 6px double white;
}

.image-img:hover {
  border: 6px double black;
}

@media (min-width: 600px) {
  .image {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .image {
    width: 80vw;
  }
}
